.site-header {
    background-color: #525564;
}

.align--left {
    float: left;
}

.align--right {
    float: right;
}

div.site-header ul {
    list-style: none;
    padding: 0;
}

div.site-header ul li {
    display: inline;
    margin-right: 10px;
}

span {
    margin-top: auto;
    margin-bottom: auto;
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media (min-width: 992px) {
    .site-header {
        height: 80px;
    }
} */

/*Small devices (tablets and smaller, 991px and below)*/
@media(max-width: 991px) {
    .site-header {
        height: 60px;
    }
}